<style>
    p {
        margin: 10px 0;
    }

    code {
        background: #efefef;
    }
</style>

<div class="fixed top-0 left-0 right-0 bottom-0  bg-gray-100" style="z-index:-1" />

<div class="w-11/12 mx-auto bg-white border border-gray-400 p-10 mt-10">
    <p class="text-center"><img class="inline-block" alt="logo" src="/logo.png" /></p>
    <h1 class="text-center text-3xl my-5">Welcome BITS Candidates</h1>
    <hr />

    <div class="my-5 border-b border-gray-300 py-5">
        <p>
            If you&#39;re reading this, you&#39;ve passed your interview, so Congrats! Now its time
            to show us that you can code and can fill the backend position available.
        </p>
        <p>
            The task is simple, build an endpoint/service using PHP with no external dependencies
            other than the ones provided: <a href="https://www.slimframework.com/docs/v4/"
                >Slim Framework 4</a
            >. This means you really have to think about your code and how to structure the app.
            Laravel will not come to your rescue.
        </p>
        <p>
            We are not reeinventing the wheel here, we just need to see your understanding of what
            &quot;good code&quot; is and how you approach the design of your software. Anyone can
            write code, but only good developers can write good and well designed code. Also,
            we&#39;ve taken you out of your comfort zone.
        </p>
    </div>

    <h2 class="font-bold text-xl" id="preparing-the-environment">Preparing The Environment</h2>
    <div class="border-b border-gray-300 py-5">
        <p>
            This project requires the latest LTS version of NodeJS. The framework of choice for this
            task and in Bits is <a class="text-pink-600" target="_blank" href="http://svelte.dev"
                >Svelte</a
            >
        </p>
        <p>After you have cloned this repo and install the yarn, install the dependencies with:</p>
        <pre>
            <code>npm <span class="hljs-keyword">install</span></code>
        </pre>
        <p>You can then start the application running:</p>
        <pre>
            <code>npm <span class="hljs-keyword">run </span><span class="bash"> dev</span></code>
        </pre>
        <p>
            That&#39;s it. Just Access <a
                href="http://localhost:5000"
                class="text-pink-600"
                target="_blank">http://localhost:5000</a
            > in your browser.
        </p>
    </div>

    <h2 class="font-bold text-xl my-3">The Task</h2>
    <div class="my-5 border-b border-gray-300 py-5">
        <p class="text-center pb-10">
            <img
                class="w-1/2 inline-block border border-gray-300"
                src="/Desktop@2x.png"
                alt="Loan Plan Mockup Desktop"
            />
        </p>
        <p>
            You will build a screen where the user wants to apply for a loan, but before they do
            that, they want to know how much interest and the monthly installments will be for their
            loan
        </p>
        <p>
            In the screen, you will build a calculator in which, the users choose (i) the loan type
            they want to apply for, (ii) the amount they want to apply for, (iii) and the number of
            months to repay the loan.
        </p>
        <p>
            When the users changes the value of any of the inputs, the monthly installment value,
            the interest value and the total loan amount is calculated and displayed to them.
        </p>
        <h3 class="font-bold text-lg my-3  border-b border-gray-200" id="assets">Assets</h3>
        <p>
            You can find the layout mockups here on our Figma project:
            <a
                class="text-pink-600"
                href="https://www.figma.com/file/yCUfV4uHFWrWKenma3FH23/Bits-Svelte-Frontend"
                >Layout mockups</a
            >
        </p>
        <p>
            Once you have opened the link you must sign up and log in so you can have access to the
            colors, fonts, margins and assets information.
        </p>
        <h3 class="font-bold text-lg my-3  border-b border-gray-200" id="products">Products</h3>
        <p>The products component should:</p>
        <ul class="list-disc list-inside">
            <li>
                Be fetched from <code>/products.json</code>. Each product definition is as follows:
                &lbrace;
                <pre>
                    <code class="lang-json flex flex-col pl-10"> 
                        <div><span class="hljs-attr">"id"</span>: <span class="hljs-string">"product id"</span>,</div>
                        <div><span class="hljs-attr">"interest"</span>: <span class="hljs-string">"The rate of interest"</span>,</div>
                        <div><span class="hljs-attr">"namr"</span>: <span class="hljs-string">"Product name"</span>,</div>
                        <div><span class="hljs-attr">"min_amount"</span>: <span class="hljs-string">"Minimum amount allowed to be loaned"</span>,</div>
                        <div><span class="hljs-attr">"max_amount"</span>: <span class="hljs-string">"Max amount allowed to be loaned"</span>,</div>
                        <div><span class="hljs-attr">"min_tenure"</span>: <span class="hljs-string">"Minimum number of months allowed"</span>,</div>
                        <div><span class="hljs-attr">"max_tenure"</span>: <span class="hljs-string">"Maximum number of months allowed"</span>,</div>
                        <div><span class="hljs-attr">"image"</span>: <span class="hljs-string">"Image to use as the icon"</span></div>
                    </code>
                </pre>
                &rbrace;
            </li>
            <li>Each product should be displayed using the product.image property</li>
            <li>
                When a product is changed, reset the loan and months to their respective minimums
            </li>
        </ul>
        <h3 class="font-bold text-lg my-3 border-b border-gray-200" id="loan-amount-input">
            Loan Amount input
        </h3>
        <p>The money input component should:</p>
        <ul class="list-disc list-inside">
            <li>Allow only numbers</li>
            <li>Display the value formatted as money (e.g 3500.45 should be 3,500.44)</li>
            <li>Respect the min and max amounts of the selected product</li>
        </ul>
        <h3 class="font-bold text-lg my-3  border-b border-gray-200" id="months-input">
            Months input
        </h3>
        <p>The month input component should:</p>
        <ul class="list-disc list-inside">
            <li>Allow only numbers</li>
            <li>When clicking on the arrow buttons it should go up and down by one</li>
            <li>
                On focused, the users should be able to increase/decrease by typing the Up and Down
                arrow key on the keyboard respectively
            </li>
            <li>Respect the min and max tenure properties of the selected product</li>
        </ul>
        <h3 class="font-bold text-lg my-3  border-b border-gray-200" id="description-details">
            Description &amp; Details
        </h3>
        <ul class="list-disc list-inside">
            <li>
                When the Amount or months changes perform the following calculation to get the total
                amount:
            </li>
        </ul>
        <pre><code><span class="hljs-attribute">total amount</span> = loan amount + (loan amount * product interest)
    </code></pre>
        <pre><code><span class="hljs-attribute">monthly</span> installment = total amount / <span class="hljs-comment"># months</span>
    </code></pre>
        <pre><code>target <span class="hljs-built_in">month</span> = current <span class="hljs-built_in">month</span> + <span class="hljs-comment"># months</span>
    </code></pre>
        <h3 class="font-bold text-lg my-3" id="confirm-button">Confirm button</h3>
        <p>You don&#39;t need to add any action on the confirmation button</p>
    </div>

    <h2 class="font-bold text-xl my-3" id="what-will-i-be-assessed-on">
        What will I be assessed on
    </h2>
    <hr />
    <ol class="list-decimal">
        <li>If your code works</li>
        <li>Your application structure</li>
        <li>How close your page is to the mockups, both on mobile &amp; desktop</li>
        <li>How clean and organized your code is</li>
        <li>How long it took you to complete the task</li>
    </ol>
    <p>&nbsp; &nbsp;</p>
    <hr />
    <h2 class="font-bold text-xl my-3" id="questions">Questions</h2>
    <hr />
    <p>
        You can share any question/concern you have on teams. Not all your questions maybe answered,
        sometimes you may have to assume and justify your decisions.
    </p>
    <p>&nbsp; &nbsp;</p>
    <h1 class="text-center text-3xl my-5" id="good-luck-">Good Luck!</h1>
</div>
